.block
  %ul
    %li
      - text= content_tag :span, 'Управлять страницами сайта', :class=>:bar
      = link_to text, manager_pages_path(:subdomain=>@subdomain)
    %li
      - text= content_tag :span, 'Документация для редактора', :class=>:bar
      = link_to text, '#'
    %li
      - text= content_tag :span, 'Хотят редактировать страницу +3', :class=>:bar
      = link_to text, '#'
    %li
      - text= content_tag :span, 'Редакторы страницы +5', :class=>:bar
      = link_to text, '#'
    %li
      - text= content_tag :span, 'Настройки отображения страницы', :class=>:bar
      = link_to text, '#'
    %li
      - text= content_tag :span, 'История редактирования', :class=>:bar
      = link_to text, '#'

    %li.system
      - iv= content_tag :span, "iv-schools.ru", :class=>:nobr
      - text= content_tag :span, "Регистрация в системе #{iv}", :class=>:bar
      = link_to text, signup_path