<h1>Editing answere</h1>

<% form_for(@answere) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </p>
  <p>
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </p>
  <p>
    <%= f.label :topic %><br />
    <%= f.text_field :topic %>
  </p>
  <p>
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </p>
  <p>
    <%= f.label :answere %><br />
    <%= f.text_area :answere %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @answere %> |
<%= link_to 'Back', answeres_path %>