<h1>Listing answeres</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Topic</th>
    <th>Question</th>
    <th>Answere</th>
    <th>User</th>
  </tr>

<% @answeres.each do |answere| %>
  <tr>
    <td><%=h answere.from %></td>
    <td><%=h answere.to %></td>
    <td><%=h answere.topic %></td>
    <td><%=h answere.question %></td>
    <td><%=h answere.answere %></td>
    <td><%=h answere.user_id %></td>
    <td><%= link_to 'Show', answere %></td>
    <td><%= link_to 'Edit', edit_answere_path(answere) %></td>
    <td><%= link_to 'Destroy', answere, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New answere', new_answere_path %>