<p>
  <b>From:</b>
  <%=h @answere.from %>
</p>

<p>
  <b>To:</b>
  <%=h @answere.to %>
</p>

<p>
  <b>Topic:</b>
  <%=h @answere.topic %>
</p>

<p>
  <b>Question:</b>
  <%=h @answere.question %>
</p>

<p>
  <b>Answere:</b>
  <%=h @answere.answere %>
</p>

<p>
  <b>User:</b>
  <%=h @answere.user_id %>
</p>


<%= link_to 'Edit', edit_answere_path(@answere) %> |
<%= link_to 'Back', answeres_path %>