%h3=t('cabinet')

.block
  %ul
    %li
      - text= content_tag :span, t('profile'), :class=>:bar
      = link_to text, profile_users_path(:subdomain=>@user.subdomain)
      
    %li
      - text= content_tag :span, t('page.manage'), :class=>:bar
      = link_to text, manager_pages_path(:subdomain=>@user.subdomain)
    %li
      - text= content_tag :span, t('my_files'), :class=>:bar
      = link_to text, storage_sections_url(:subdomain=>@user.subdomain)
    %li
      - text= content_tag :span, 'Вопрос/Ответ', :class=>:bar
      = link_to text, box_questions_path
    
    - if logged_in?
      -# Если есть ролевой доступ к администрированию пользователей
      - if current_user.has_role_policy?(:administrator, :users)
        %li.system
          - text= content_tag :span, "Пользователи", :class=>:bar
          = link_to text, admins_users_path
          
      -# Если есть ролевой доступ к администрированию ролей
      - if current_user.has_role_policy?(:administrator, :roles)
        %li.system
          - text= content_tag :span, "Роли", :class=>:bar
          = link_to text, admins_roles_path

    -#
      %li
        - text= content_tag :span, t('my_news'), :class=>:bar
        = link_to text, manager_pages_path(:subdomain=>current_user.subdomain)
        
      %li
        - text= content_tag :span, t('my_questions'), :class=>:bar
        = link_to text, manager_pages_path(:subdomain=>current_user.subdomain)
        
      %li
        - text= content_tag :span, t('my_albums'), :class=>:bar
        = link_to text, manager_pages_path(:subdomain=>current_user.subdomain)
        
      %li
        - text= content_tag :span, t('my_documents'), :class=>:bar
        = link_to text, manager_pages_path(:subdomain=>current_user.subdomain)
        

      
      