- content_for :navigation do
  =render :partial => 'navigation'
  
:ruby
  rights= {
    :users=>{
      :index=>true,
      :cabinet=>true,
      :send_message=>true,
      :book_marking=>true
    },
    :messages=>{
      :send_message=>true,
      :destroy=>true,
      :spam_notice=>true,
      :resend=>true
    }
  }

:plain  
  - p1= Setting.find 1 # групповая политика
  - p2= Setting.find 2 # индивидуальная политика

  %h3
    Первый
  %pre
    = p1.set.to_yaml
    
  %h3
    Второй
  %pre
    = p2.set
    
  %h3
    Результат

  - group_policy = YAML::load(p1.set)
  - individual_policy = YAML::load(p2.set)
  = group_policy.class.to_s
  = individual_policy.class.to_s
  - if group_policy.is_a?(Hash) && individual_policy.is_a?(Hash)
    %pre
      = group_policy.recursive_merge!(individual_policy).class.to_s
      
  - u= User.find :first
  = gr_pol= YAML::load(u.group_policies[0].policy.set)
  = ind_pol= YAML::load(u.personal_policies[0].policy.set)
