.block        
  %ul
    %li
      -if logged_in?
        - current_user.has_role_policy?(:pages, :manager)
          - text= content_tag :span, 'Управлять страницами сайта', :class=>:bar
          = link_to text, manager_pages_path(:subdomain=>@subdomain)
      
    %li{:class=>"parent"}
      - text= content_tag :span, "Карта сайта", :class=>:bar
      = link_to text, pages_path
    -if @parents
      - @parents.each do |parent|
        -# Проверяет по id текущая ли это страница - к ней применяется css стиль current
        -# Если текущая - проверяется есть ли у элемента дочки, если нет - добавляет ему класс last
        - current= (parent.id == @page.id) ? "current #{'last' if @siblings.empty?}" : ''
        %li{:class=>"parent #{current}"}
          - text= content_tag :span, parent.title, :class=>:bar
          = link_to text, page_path(parent.zip)
          
        -if parent.id == @page.id
          -# Фактически вложенные элементы
          - @siblings.each do |elem|
            %li
              - text= content_tag :span, elem.title, :class=>:bar
              = link_to text, page_path(elem.zip)

    %li.system
      - iv= content_tag :span, "iv-schools.ru", :class=>:nobr
      - text= content_tag :span, "Регистрация в системе #{iv}", :class=>:bar
      = link_to text, signup_path