- content_for :navigation_menu do
  =render :partial => "shared/navigation_menu/pages/new"


= object_errors(@page)

.edit_form
  %h5
    Редактировать страницу:
  %h5.gray
    = @page.title

  -form_for( :page, :url=>page_path, :html=>{:method=>:put} ) do |f|
    %label{:for=>:title}
      Заголовок страницы
    %span
      = f.text_field :title, :class=>:input

    %label{:for=>:author}
      Автор страницы
    %span
      = f.text_field :author, :class=>:input
      
    %label{:for=>:keywords}
      Ключевые слова
    %span
      = f.text_field :keywords, :class=>:input

    %label{:for=>:description}
      Краткое описание
    %span
      = f.text_field :description, :class=>:input
      
    %label{:for=>:copyright}
      Авторское право
    %span
      = f.text_field :copyright, :class=>:input

    %label{:for=>:annotation}
      Аннотация страницы (о чем рассказывает страница)
    %span
      = f.text_area :annotation, :class=>:textarea_small
      
    %label{:for=>:content}
      Содержимое страницы
    %span
      = f.text_area :content, :class=>:textarea_mid 
 	
    = submit_tag 'Обновить', :class=>:submit