!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en"}
  %head
    %meta{'http-equiv'=>"content-type", :content=>"text/html; charset=utf-8"}
    %link{:href=>"/images/favicon.ico", :rel=>"shortcut icon"}
    %title
      =yield :title
    =yield :meta
    
    =stylesheet_link_tag 'basic/style.css', :media=>'screen'
    =stylesheet_link_tag 'basic/paginator', :media=>'screen'
    
    =yield  :js
    =yield  :css

    - content_for :meta do
      %meta{:name=>"description", :content=>"Ивановский региональный школьный портал"}
      %meta{:name=>"keywords", :content=>"Ивановский региональный школьный портал"}
      %meta{:name=>"author", :content=>"killich@yandex.ru, Илья Зыкин"}
      
    - content_for :js do
      =#javascript_include_tag :defaults  
      =#javascript_include_tag "messanger"
      
    - content_for :css do
      =#stylesheet_link_tag 'haml_scaffolds/reset', :media=>'screen'
      =#stylesheet_link_tag 'haml_scaffolds/style', :media=>'screen'
      =stylesheet_link_tag 'basic/paginator', :media=>'screen'
      
    - content_for :title do
      Иваново, Школьный портал
  %body
    .body
      -# Если выполнен вход, то отобразим верхнее меню для данного пользователя
      -if current_user
        =render :partial => "users/toolbar"

      =image_tag "basic/basic_header.jpg", :alt=>"iv36.iv-schools.ru"

      .header{:id=>:header}
        - if @subdomain.blank?
          = link_to "Ивановский школьный портал iv-schools.ru", "#" 
        - else
          = link_to @subdomain.to_s + ".iv-schools.ru", "#" 

      %ul.system_navigation
        %li
          =link_to "Новости +7", url_for(:controller=>:reports)
        %li
          =link_to "Задать вопрос +4", url_for(:controller=>:questions)
        %li
          =link_to "Фотоальбом +45", url_for(:controller=>:albums)
        %li
          =link_to "Официально +3", url_for(:controller=>:documents)
        %li
          =link_to "Карта", pages_path(:subdomain=>@subdomain) #url_for(:controller=>:map)
        %li
          -if current_user            
            =link_to "Выход", logout_path
          -else
            =link_to "Вход", login_path(:subdomain => @subdomain)

      %table.main#main
        %tbody
          %tr
            %td.content#content_column
              .block#content_block
                -# Ввод Флеш сообщений
                = app_flash(flash)
                -# Ввод основного содержимого страницы
                =yield
                  
            %td.navigation
              -# Если меню навигации не определено, то показать корневое меню
              -# Иначе показать сформированное меню
              = render(:partial => 'shared/add_menu')
              = yield(:navigation_menu).blank? ? render(:partial => 'shared/root_navigation_menu') : yield(:navigation_menu)
                    
      .footer
        .block
          .moderator
            =# render :partial=>'shared/page_stat'
            
          .portal
            = link_to 'Ивановский Региональный Школьный Интернет Портал', 'http://iv-schools.ru'
            &nbsp;&nbsp;&nbsp;2006 &mdash; 2009 &copy;
            
          = render :partial=>'shared/debugger'
            
            